/* :root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;

	--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
	--secondary-glow: linear-gradient(
		to bottom right,
		rgba(1, 65, 255, 0),
		rgba(1, 65, 255, 0),
		rgba(1, 65, 255, 0.3)
	);

	--tile-start-rgb: 2, 13, 46;
	--tile-end-rgb: 2, 5, 19;
	--tile-border: conic-gradient(
		#ffffff80,
		#ffffff40,
		#ffffff30,
		#ffffff20,
		#ffffff10,
		#ffffff10,
		#ffffff80
	);

	--callout-rgb: 20, 20, 20;
	--callout-border-rgb: 108, 108, 108;
	--card-rgb: 100, 100, 100;
	--card-border-rgb: 200, 200, 200;

	--deep-grey: #232327;
	--shallow-deep-grey: #3a3a40;
	--secondary-grey: #61616c;
	--font-grey: #aaaaaa;
	--dark-font-grey: #727272;
	--blue-action: white;

	--outline: #0d0d0f;
	--opacity: transparent;
	--bg-raised: rgb(10, 10, 10);
	--secondary-text: #232327;

	--ai: white;
	--ai-bg: #000000;
	--user: #0084ff;
	--user: white;
	--user-bg: #000000;

	--font: white;
	--ai-raised: #0d0f1a;
	--image-border: #0084ff;
} */

:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 227, 235, 237;
	--background-end-rgb: 255, 255, 255;

	--primary-glow: conic-gradient(
		from 180deg at 50% 50%,
		#16abff33 0deg,
		#0885ff33 55deg,
		#54d6ff33 120deg,
		#0071ff33 160deg,
		transparent 360deg
	);
	--secondary-glow: radial-gradient(
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);

	--tile-start-rgb: 239, 245, 249;
	--tile-end-rgb: 228, 232, 233;
	--tile-border: conic-gradient(
		#00000080,
		#00000040,
		#00000030,
		#00000020,
		#00000010,
		#00000010,
		#00000080
	);

	--callout-rgb: 238, 240, 241;
	--callout-border-rgb: 172, 175, 176;
	--card-rgb: 180, 185, 188;
	--card-border-rgb: 131, 134, 135;

	--deep-grey: #232327;
	--shallow-deep-grey: #3a3a40;
	--secondary-grey: #464652;
	--font-grey: #5e5e5e;
	--dark-font-grey: #727272;
	--blue-action: black;
	--outline: rgb(201, 201, 201);
	--opacity: rgba(255, 255, 255, 0.281);
	--bg-raised: #e0e7e8;
	--secondary-text: #a3a3ac;

	--ai: black;
	--ai-bg: rgb(255, 255, 255);

	--user: black;
	--user-bg: #ffffff;

	--font: black;
	--ai-raised: #0d0f1a;
	--image-border: #dfdfdf;
}

/* :root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;

	--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
	--secondary-glow: linear-gradient(
		to bottom right,
		rgba(1, 65, 255, 0),
		rgba(1, 65, 255, 0),
		rgba(1, 65, 255, 0.3)
	);

	--tile-start-rgb: 2, 13, 46;
	--tile-end-rgb: 2, 5, 19;
	--tile-border: conic-gradient(
		#ffffff80,
		#ffffff40,
		#ffffff30,
		#ffffff20,
		#ffffff10,
		#ffffff10,
		#ffffff80
	);

	--callout-rgb: 20, 20, 20;
	--callout-border-rgb: 108, 108, 108;
	--card-rgb: 100, 100, 100;
	--card-border-rgb: 200, 200, 200;

	--deep-grey: #232327;
	--shallow-deep-grey: #3a3a40;
	--secondary-grey: #61616c;
	--font-grey: #aaaaaa;
	--dark-font-grey: #727272;
	--blue-action: white;

	--outline: #131313;
	--opacity: transparent;
	--bg-raised: rgb(10, 10, 10);
	--secondary-text: #232327;

	--ai: white;
	--ai-bg: #000000;
	--user: #0084ff;
	--user: white;
	--user-bg: #000000;

	--ai-btn: #def2ff;

	--font: white;
	--ai-raised: #0d0f1a;
	--image-border: #0084ff;
} */

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
		--secondary-glow: linear-gradient(
			to bottom right,
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0.3)
		);

		--tile-start-rgb: 2, 13, 46;
		--tile-end-rgb: 2, 5, 19;
		--tile-border: conic-gradient(
			#ffffff80,
			#ffffff40,
			#ffffff30,
			#ffffff20,
			#ffffff10,
			#ffffff10,
			#ffffff80
		);

		--callout-rgb: 20, 20, 20;
		--callout-border-rgb: 108, 108, 108;
		--card-rgb: 100, 100, 100;
		--card-border-rgb: 200, 200, 200;

		--deep-grey: #232327;
		--shallow-deep-grey: #3a3a40;
		--secondary-grey: #61616c;
		--font-grey: #aaaaaa;
		--dark-font-grey: #727272;
		--blue-action: white;

		--outline: #474747;
		--opacity: transparent;
		--bg-raised: rgb(10, 10, 10);
		--secondary-text: #232327;

		--ai: white;
		--ai-bg: #000000;
		/* --user: #0084ff; */
		--user: white;
		--user-bg: #000000;

		--ai-btn: #def2ff;

		--font: white;
		--ai-raised: #0d0f1a;
		--image-border: #0084ff;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	/* overflow-x: hidden; */
	/* min-height: 100vh; */
	scroll-behavior: smooth;
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--user-bg);
	/* to bottom,
			transparent,
			rgb(var(--background-end-rgb)) rgb(var(--background-start-rgb))
		rgb(var(--background-start-rgb)); */
	font-size: 12px;
	min-height: 100svh;
}

body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

a {
	color: inherit;
	text-decoration: none;
}

/* @media (prefers-color-scheme: light) {
	html {
		color-scheme: dark;
		scroll-behavior: smooth;
	}
} */

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
		scroll-behavior: smooth;
	}
}

/* main {
	padding-top: 100px;
} */

li::marker {
	color: var(--secondary-grey);
	/* font-weight: 700; */
}

input {
	resize: none;
}

input:focus {
	outline: none !important;
}

div,
li {
	scroll-margin-top: 96px;
}

::selection {
	background: rgb(186, 186, 186);
}

@media (min-width: 1300px) {
	div,
	li {
		scroll-margin-top: 137px;
	}

	ol {
		padding-left: 00px;
	}
}

button {
	cursor: pointer;
}

::placeholder {
	color: var(--secondary-grey);
	opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: var(--secondary-grey);
}

button:disabled {
	color: var(--deep-grey);
}
