.play_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  /* padding: 30px; */
  height: 84px;
  width: 84px;
  margin-left: 10px;
  border: 1px dashed var(--secondary-grey);
}

.languages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.lang,
.lang_unselected {
  margin: 10px;
}

.lang {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: var(--inverse);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang_unselected {
  color: var(--secondary-grey);
}

.animate_rotate_clockwise {
  animation: rotate_anti_clockwise 12s infinite linear;
  border: 1px dashed var(--secondary-grey);
}

.animate_rotate_anti_clockwise {
  animation: rotate_clockwise 12s infinite linear,
    animate_pulsate 2s infinite cubic-bezier(0.19, 1, 0.22, 1);
}

.animate_pulsate {
  animation: animate_pulsate 2s infinite cubic-bezier(0.19, 1, 0.22, 1);
}

.animate_pulsate_1s {
  animation: animate_pulsate 2s infinite cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate_anti_clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate_clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes animate_pulsate {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  font-style: italic;
  padding: 2px;
  border-radius: 6px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.di,
.dg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  height: 30px;
  /* width: 30px; */
  /* border: 2px solid var(--secondary-grey); */
  background-color: none;
  /* margin-top: 10px; */
  /* padding-left: 2px; */
  padding-right: 2px;
  color: var(--deep-grey);
  border-radius: 10px;
  letter-spacing: -0.5px;
}

.di {
  margin: -10px 10px -10px 20px;
}

.faviD,
.dgi {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dolby,
.nova {
  font-weight: 700;
  color: var(--secondary-grey);
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nova {
  margin-left: 4px;
}

.dgi {
  width: 16px;
  height: 16px;
}

.imageD {
  border: none;
}

.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  /* margin-left: 10px; */
}

.main {
  margin-top: -100px;
}
