.home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.audioLabels {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.di,
.dg {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: fit-content;
	height: 28px;
	border: 1px solid var(--outline);
	/* margin-top: 10px; */
	padding-left: 2px;
	padding-right: 6px;
	/* color: v); */
	border-radius: 10px;
	letter-spacing: -0.5px;
	backdrop-filter: blur(50px) brightness(0.9);
	-webkit-backdrop-filter: blur(50px) brightness(0.9);
}

.di {
	margin: 0px 10px 0px 10px;
}

.faviD,
.dgi {
	height: 24px;
	width: 24px;
	/* margin-right: 10px; */
	/* border: 1px solid var(--outline); */
	background-color: transparent;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	/* top: 300px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.dolby,
.nova {
	font-weight: 700;
	/* color: var(--secondary-grey); */
	color: white;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nova {
	margin-left: 4px;
}

.dgi {
	width: 16px;
	height: 16px;
}

.profile {
	border: 1px solid var(--outline);
	border-radius: 100px;
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.cardContainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

.post {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border: 1px solid var(--outline);
	border-radius: 20px;
	width: calc(100% - 20px);
	height: 200px;
}
.ghostBtn {
	background-color: var(--deep-grey);
	border-radius: 13px;
	height: 40px;
	width: 100px;
	margin: 10px;
}

.ai {
	/* display: flex; */
	top: 200px;
	font-size: 16px;
	margin-bottom: 20px;
	/* color: var(--font-grey); */
	/* padding-right: 0px; */
	padding-left: 10px;
	/* line-height: 2.4em; */
	/* padding: 20px; */
	/* font-weight: 200; */
	/* justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column; */
	width: calc(100vw - 40px);
	/* padding: 20px 10px 20px 10px; */
	z-index: 100;
	/* font-style: italic; */
}

.ai::first-letter {
	float: left;
	font-size: 76px;
	color: var(--font-grey);
	line-height: 70px;
	padding-top: 16px;
	padding-right: 10px;
	font-weight: 500;
}

.payTiers {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	margin-left: 20px;
	margin-top: 10px;
}

@media (min-width: 1300px) {
	.ai {
		width: 40vw;
	}
}

@media (min-width: 900px) {
	.video {
		position: absolute;
		object-fit: cover;
	}
}

.video {
	position: fixed;
	top: 0;
	height: 30vh;
	width: 100vw;
	object-fit: cover;
	z-index: -3;
}

@media (max-width: 1300px) {
	.video {
		height: 60vh;
	}

	.imageContainer {
		height: 60vh;
	}
}

.overlay {
	position: absolute;
	height: 70vh;
	width: 100vw;
	top: 0px;
}

@media (prefers-color-scheme: dark) {
	.overlay {
		backdrop-filter: saturate(100%) hue-rotate(490deg);
		-webkit-backdrop-filter: saturate(100%) hue-rotate(490deg);
	}
}

.fadeLayer {
	position: fixed;
	top: 0;
	height: 70vh;
	width: 100vw;
	z-index: 0;
	background: linear-gradient(180deg, transparent 0%, black 100%);
}

.mai {
	font-size: 32px;
}
