.nav {
  bottom: 0px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
}

@media (max-width: 1300px) {
  .nav {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  }
}

.navItem,
.authBtn,
.navItemBtn,
.null {
  padding: 40px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  width: 70px;
}

.navItemBtn,
.null {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  border: none;
  z-index: 100;
  /* margin-left: 20px; */
}

.null {
  color: transparent;
}

.authBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px #ffffff);
}

.label {
  padding-top: 4px;
}

.enLabel,
.enLabelU {
  padding-top: 10px;
  font-family: "IBM Plex Mono", monospace;
  color: #242424;
  font-size: 8px;
  letter-spacing: 2px;
  text-indent: 2px;
  font-weight: bold;
}

.authenLabel {
  color: black;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 9px;
}

@media (max-width: 768px) {
  .enLabel,
  .enLabelU {
    padding-top: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .enLabel,
  .enLabelU {
    color: #888888;
  }
}

.enLabelU {
  margin-top: -14px;
  letter-spacing: 0px;
  font-size: 14px;
}

.i,
.iI,
.iB,
.iBInactive {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 3px white);
  background-color: var(--opacity);
  border-radius: 10px;
  color: var(--ai);
  border: none;
}

.iI {
  margin-top: 3px;
}

.iB,
.iBInactive {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 10px var(--ai));
  background-color: transparent;
  color: white;
  border: none;
}

.iB {
  width: 24px;
  height: 24px;
}

.iBInactive {
  color: var(--secondary-grey);
}

.authi {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-left: 4px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.home {
  position: fixed;
  top: 0;
  padding: 10px 0px 0px 10px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
  height: calc(28px + 14px + 28px + 20px);
}

@media (prefers-color-scheme: dark) {
  .home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
}

@media (min-width: 1300px) {
  .home {
    background: none;
  }
}

.pathname {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 4px;
}

.divider {
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .divider {
    color: var(--font-grey);
  }
}

@media (max-width: 768px) {
  .divider {
    margin-top: -2px;
  }
}

.path {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 4px;
  margin-top: 1px;
  padding: 5px 6px 5px 0px;
  border-radius: 8px;
  background-color: var(--opacity);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.homei {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .homei {
    color: #888888;
    filter: drop-shadow(0px 0px 4px #888888);
  }
}

.addBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: 180px;
  right: 10px;
  height: 140px;
  width: 25px;
  z-index: 2;
  border-radius: 10px 10px 20px 10px;
  border: 1px solid var(--ai);
  padding-top: 10px;
}

@media (prefers-color-scheme: dark) {
  .addBtn {
    color: black;
    background-color: white;
    /* background-color: white; */
  }
}

.playlistTitle {
  margin-left: 6px;
}

.capturer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  bottom: 0px;
  padding-bottom: 90px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.NavCaret,
.NavCaretInactive {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-left: 26px;
  padding-bottom: 27px;
  color: var(--ai);
}

.NavCaretInactive {
  color: var(--secondary-grey);
}

.winterdelta {
  top: 0;
  font-size: 12px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  padding: 20px 0px 0px 10px;
  color: black;
  z-index: 1000;
  width: 100%;
  z-index: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.w,
.w_ {
  color: black;
  font-weight: 800;
  letter-spacing: -1px;
  text-indent: -1px;
  margin-top: 1px;
  height: 29px;
  width: 29px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: black;
  padding: 2px;
  background-color: var(--opacity);
  border: 1px solid var(--outline);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.w_ {
  color: white;
  background-color: none;
  border: none;
  backdrop-filter: none;
}

.circle_icon {
  filter: drop-shadow(0px 0px 10px #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 1000;
  right: 0;
  padding: 10px 10px 0px 10px;
}

@media (prefers-color-scheme: dark) {
  .w {
    color: white;
  }

  .winterdelta {
    color: white;
  }
}
